---
layout: base.njk
title: One-page complete e-commerce or live-event site.
---

{% include "nav.njk" %}

<div class="max-w-4xl m-auto " style="max-height:40rem">
  <img class="p-auto block object-center" src="/static/img/2021-splash.jpg" alt="Piñata, 22 years of Genesis Diez Ministries" />
</div>

{{ content | safe }}

{% include "footer_bottom.njk" %}
